[Unit]
Description=servomon agent app that sends system data to the web app for monitoring

[Service]
Type=simple
User=username
WorkingDirectory=/path/to/binary-parent-folder
ExecStart=/path/to/binary/servomon-agent
Restart=always

[Install]
WantedBy=multi-user.target